
@media all{
    body > *{
        padding: 0px 15px;
    }
    body > section{
        margin-bottom: 150px;
    }
    
    #logos a{
        display:block;
        padding: 10px;
        height: 80px;
        text-align: center;
    }

    .navbar{
        margin-bottom: 0px;
    }
    
    .calculadora > ul{
        list-style-type: none;
    }
    
    .calculadora > ul > li{
        height:100px;
        display: block;
        width: 100%;
        padding: 15% 10% 10%;
        vertical-align: middle;
    }
    
    .calculadora .panel{
        margin-top: 60px;
        
    }

}

/*Custom font for numbers*/
@font-face{
    font-family: "bebas";
    src: url("http://thecodeplayer.com/uploads/fonts/BebasNeue.otf");
}