
@media all{    
    body {
        padding-bottom: 70px;
    }
    body > header, body footer,body > section{
        padding: 0 15px;
    }
}

/*Custom font for numbers*/
@font-face{
    font-family: "bebas";
    src: url("http://thecodeplayer.com/uploads/fonts/BebasNeue.otf");
}